<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Add tint & shade</title>
    <link rel="stylesheet" href="./tint-and-shade.css">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>


    <div id="app">
      <div id="svg-display">
        <div class="upload-btn-wrapper">
          <button class="btn">Upload an SVG</button>
          <input id="upload" type="file" accept=".svg" v-on:change="displaySVG()">
        </div>
        <div id="image">
        </div>
        <!-- <button @click="log('curve')">grab the banana!</button> -->
      </div>
      <div id="picker-wrapper">
        <input class="color-picker" value="#1aa1e6" type="color" v-model="hexcode" >
        <label for="base-picker">Create a new palette</label>
      </div>
      <div class="swatches">
        <swatch v-for="swatch in swatchesArray" :color="swatch" @select="selectSwatch" :selected-swatch ="selectedSwatch">
        </swatch>
      </div>
    </div>
  </body>

  <script type="text/x-template" id="swatch-template">
    <div class="swatch" @click="select" :class="{'active-swatch': isSelected}" :style="{ backgroundColor : color }"></div>
  </script>

  <script type="text/javascript" src="./vue.js"></script>
  <script type="text/javascript" src="./svg.js"></script>
  <script type="text/javascript" src="./webColors.js"></script>
  <script type="text/javascript" src="./tint-and-shade.js"></script>
</html>
