body {
  background: hsl(0, 0%, 50%);
  color: hsl(0, 0%, 95%);
  font-family: sans-serif;
}

h1 {
  text-align: center;
  margin: 2em auto;
  color: hsl(0, 0%, 95%);
}

.upload-btn-wrapper {
  margin: 5vh 45vw;
  position: relative;
  overflow: hidden;
  display: inline-block;
  border-radius: 2px;
  background-color: hsl(0, 0%, 95%);
}

.upload-btn-wrapper input[type=file] {
  font-size: 100px;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}

#svg-display {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

#image {
  margin: 2em;
}

#picker-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 200px;
  margin: auto;
  margin-bottom: 1em;
  padding: 1em 0;
  border-radius: 2px;
}

.color-picker {
  overflow: hidden;
  cursor:pointer;
  height: 36px;
  width: 50px;
  background: Transparent;
  border: none;
  border-radius: 25%;
}

.swatches {
  display: grid;
  grid-template-columns: repeat(5, 60px);
  align-items: center;
  justify-content: center;
  margin: auto;
  margin-top: 2em;
  grid-row-gap: 1em;
  grid-column-gap: 1em;
}

.swatch {
  border-radius: 4px;
  height: 60px;
  width: 60px;
  justify-self: center;
  background-color: #1aa1e6;
  border: 2px hsla(0, 0%, 95%, 0) solid;
}

.active-swatch {
  border: 2px #f3f3f3 solid;
}
